<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<span th:replace="myheader::mynavbar"></span>
		<div class="content">
			<p th:if="${param.logout}" class="alert">You have been logged out</p>
			<p th:if="${param.error}" class="alert alert-error" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
			<p th:if="${param.error}" class="alert alert-error" th:text="${session.error_info}">

			</p>
			<h2>Login with Username and Password</h2>
			<form name="form" th:action="@{/userlogin}" action="/login" method="POST">
				<fieldset>
					<input type="text" name="username" value="" placeholder="用户名" />
					<input type="password" name="password" placeholder="密码" />
				</fieldset>
				<input type="submit" id="login" value="Login"
					class="btn btn-primary" />
			</form>
		</div>
	</div>
</body>
</html>